#pacientes-main {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', monospace;
    margin: 10px;
  }

#tarjeta_enfermedad{
  text-align: right;
}

.titlepage {
     text-align: center;
     padding-bottom: 40px;
}

.titlepage h2 {
     font-size: 50px;
     color: #1296cc;
     line-height: 50px;
     font-weight: 600;
     text-transform: uppercase;
     padding: 0;
}

.titlepage strong {
     font-weight: 600;
}

.balck {
     color: #01080b;
}

.titlepage span {
     font-size: 17px;
     line-height: 25px;
     color: #0a0a0a;
     padding-top: 30px;
     display: block;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 20px;
     background-color: #000507;
     color: #fff;
     padding: 10px 0px;
     width: 100%;
     max-width: 217px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
     height: 56px;
}

.read_more:hover {
     background: #1296cc;
     color: #fff;
     transition: ease-in all 0.5s;
}
.vedio figure {
     margin: 0;
}

.vedio figure img {
    width: 100%;
}

.service {
     background: url(../images/service.jpg);
     background-size: 100% 100%;
     background-position: center;
     background-repeat: no-repeat;
     padding: 90px 0 90px 0;
}

.service_box {
     margin-bottom: 30px;
}

.service_box figure {
     margin: 0;
}

.service_box figure img {
     width: 100%;
}

.service_box h3 {
     color: #1296cc;
     font-size: 35px;
     line-height: 30px;
     padding: 30px 0 20px 0;
}

.service_box p {
     font-size: 17px;
     line-height: 30px;
     color: #01010a;
}

.service .read_more {
     margin: 0 auto;
     display: block;
     margin-top: 20px;
}
